seed-data/main/default/flows/EmailMessage_Agent_Processing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Start_Email_Agent</name>
        <label>Start Email Agent</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>AgentExecutionService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>agentName</name>
            <value>
                <stringValue>Customer_Support_Email_Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>triggerSource</name>
            <value>
                <stringValue>Email Message Flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AgentExecutionService</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_If_Processable</name>
        <label>Check If Processable</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Is_Incoming_With_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Email_Agent</targetReference>
            </connector>
            <label>Is Incoming Email with Case</label>
        </rules>
    </decisions>
    <description>Triggers Email Agent when an incoming EmailMessage is created. Handles both initial emails and subsequent replies in an email thread.</description>
    <environments>Default</environments>
    <interviewLabel>EmailMessage Agent Processing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailMessage Agent Processing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Check_If_Processable</targetReference>
        </connector>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
